[submodule ".registry"]
	path = .registry
	url = https://github.com/spsanderson/universe
	branch = HEAD
[submodule "BRVM"]
	path = BRVM
	url = https://github.com/Koffi-Fredysessie/BRVM
[submodule "TidyDensity"]
	path = TidyDensity
	url = https://github.com/spsanderson/TidyDensity
[submodule "healthyR"]
	path = healthyR
	url = https://github.com/spsanderson/healthyR
[submodule "healthyR.ai"]
	path = healthyR.ai
	url = https://github.com/spsanderson/healthyR.ai
[submodule "healthyR.data"]
	path = healthyR.data
	url = https://github.com/spsanderson/healthyR.data
[submodule "healthyR.ts"]
	path = healthyR.ts
	url = https://github.com/spsanderson/healthyR.ts
[submodule "healthyverse"]
	path = healthyverse
	url = https://github.com/spsanderson/healthyverse
[submodule "tidyAML"]
	path = tidyAML
	url = https://github.com/spsanderson/tidyAML
